* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fwebneel.com%2Fwallpaper%2Fsites%2Fdefault%2Ffiles%2Fimages%2F08-2018%2F1-nature-wallpaper-grass-hd.jpg&tbnid=zwiOH9M5RorVpM&vet=12ahUKEwiA0fq7x9KBAxVZ7DgGHd-9A5oQMygEegQIARB3..i&imgrefurl=https%3A%2F%2Fwebneel.com%2Fnature-wallpapers-your-desktop&docid=tOD8uXI5Fe0ujM&w=1600&h=909&q=nature%20images%20for%20pc%20wallpaper&ved=2ahUKEwiA0fq7x9KBAxVZ7DgGHd-9A5oQMygEegQIARB3);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    max-width: 100%;
    object-fit: cover;
}
main{
   padding: 10px;
   max-width: 1150px;
   margin: 10px auto ;
   color: #222;
}
header{
 display: flex;
 margin-top: 15px;
 justify-content: space-between;
 margin-bottom: 30px;
 align-items: center;
}
 a{
    text-decoration: none;
    color: inherit;
}
header a.logo{
    font-weight: bold;
    font-size: 1.4rem;
}
header nav{
    display: flex;
    gap: 8px;
}
div.post{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 25px;
}
@media screen and (min-width: 700px) {
    div.post{
        grid-template-columns: .9fr 1.1fr;
    }
}

div.post div.texts h2{
    margin: 0;
    margin-bottom: 6px;
    font-size: 1.8rem;
}

div.post p.info{
    margin: 6px 0px;
    display: flex;
    gap: 5px;
    font-weight: bold;
    font-size: 0.8rem;
    color: #888;
}
div.post p.info a.author{
    color: #333;
}
div.post p.summary{
    line-height: 1.4rem;
    margin: 6px 0px;
}

form.login, form.register{
  max-width: 500px;
  margin: 0px auto;  
}
form input{
    display: block;
    margin-bottom: 6px;
    width: 100%;
    padding: 5px 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ddd;
}
form button{
    width: 100%;
    padding: 5px 8px;
    border-radius: 10px;
    background-color: #555;
    cursor: pointer;
    color: #fff;
    padding: 10px 0px;
    border: 0;
}
form.login h1,form.register h1{
 text-align: center;
 margin-bottom: 20px;
}

div.post-page div.image{
    max-height:350px;
    display: flex;
    overflow:hidden;
}
div.post-page div.image img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}
div.post-page a{
    color:#333;
    text-decoration: underline;
}
div.post-page h1{
    text-align: center;
    margin: 10px 0 5px;
}
div.post-page time{
    text-align: center;
    display: block;
    font-size:1rem;
    color:#aaa;
    margin: 10px 0;
}
div.post-page div.author{
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}
div.content p{
    line-height: 1.7rem;
    margin: 30px 0;
}
div.content li{
    margin-bottom: 10px;
}
div.edit-row{
    text-align: center;
    margin-bottom: 20px;
}
div.post-page a.edit-btn{
    background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding:15px 30px;
    border-radius: 5px;
    text-decoration: none;
}
a svg{
    height:20px;
}
span{
    margin-right: 10px;
    font-weight: bold;
}
